body {
    background-color: rgb(72, 77, 109);
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 24rem; 
    text-align: center;
}

.speed, .skip {
    display: flex;
    flex-direction: row;
    flex: auto;
    background: rgba(255, 255, 255, 0.05);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
}

.speed:last-child, .skip:last-child {
    margin-bottom: 0;
}

.default-speed, .toggle-speed, .toggle-key, .skip-amount, .skip-back, .skip-forward {
    margin: 0.5rem;
    width: 60%;
}

.pair-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px
}

label {
    font-weight: bold;
    font-size: 0.9rem;
    color: #f0f0f0;
}

input {
    background-color: #bac7ca;
    border: 2px solid rgb(47, 41, 73);
    border-radius: 8px;
    text-align: center;
    font-size: 1rem;
    caret-color: black;
    transition: all 0.2s ease;
}

input:hover, input:focus {
    background-color: #ccd7da;
    box-shadow: 0 0 5px rgba(154, 153, 189, 0.5);
}

input:hover {
    transform: scale(1.05);
}

button {
    background-color: #adadad;
    border: 2px solid rgb(95, 93, 105);
    border-radius: 8px;
    text-align: center;
    width: 100%;
    max-width: 150px;
    padding: 2%;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #b5b5b5;
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(154, 153, 189, 0.5);
}

input:focus,
button:focus {
    outline: none;
}

.outlined-white, input{
    color: #ffffff;
    text-shadow: -1px -1px 0 #000000, 0 -1px 0 #000000, 1px -1px 0 #000000, 1px 0 0 #000000,
    1px 1px 0 #000000, 0 1px 0 #000000, -1px 1px 0 #000000, -1px 0 0 #000000;
}