body {
    background-color: rgb(72, 77, 109);
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container {
    display: flex;
    flex-direction: column;
    width: 96vw;
    height: 93vh;
    text-align: center;
}

.speed, .skip {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.default-speed, .toggle-speed, .toggle-key, .skip-amount, .skip-back, .skip-forward {
    margin: 10%;
    width: 40%;
    height: auto
}

.pair-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px
}

input {
    background-color: #bac7ca;
    border: 2px solid rgb(47, 41, 73);
    border-radius: 25%;
    text-align: center;
}

input:hover, input:focus {
    background-color: #ccd7da;
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(154, 153, 189, 0.5);

}

.outlined-white, input{
  color: #ffffff;
  text-shadow: -1px -1px 0 #000000, 0 -1px 0 #000000, 1px -1px 0 #000000, 1px 0 0 #000000,
    1px 1px 0 #000000, 0 1px 0 #000000, -1px 1px 0 #000000, -1px 0 0 #000000;
}

button {
    background-color: #adadad;
    border: 2px solid rgb(95, 93, 105);
    border-radius: 15%;
    text-align: center;
    width: 35%;
    padding: 2%;
    margin-bottom: 5%;
}

button:hover {
    background-color: #b5b5b5;
    transform: scale(1.05);
    box-shadow: 0 0 5px rgba(154, 153, 189, 0.5);
}

input:focus,
button:focus {
  outline: none;
}